.navbar{
    width: 100%;
    font-family: var(--fontFContent);
  position: fixed;
  z-index: 100;
}
  .navbar .content{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
  .navbar .content .logo img{
    width: 80px;
    mix-blend-mode: color-burn;
  }
  
  .navbar .content .navigation .text{
    display: flex;
    gap: 2em;
    
  }
  .navbar .content .navigation .text span:hover{
    font-size: larger;
    color: red;
    transition: 1s;
    cursor: pointer;
  }
  
  .navbar .content .navigation .text span{
    transition: 1s;
  }
  
  .navbar .content .navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }